@model Teste_Tecnico_SmartHint.Models.Customers

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Cliente</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" required/>
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    <option value="">Selecione</option>
                    @foreach (var value in Enum.GetValues(typeof(Teste_Tecnico_SmartHint.Models.Customers.KindOfPersonEnum)))
                    {
                        <option value="@value">@value</option>
                    }
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF_CNPJ" class="control-label"></label>
                <input asp-for="CPF_CNPJ" class="form-control" />
                <span asp-validation-for="CPF_CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateRegistration" class="control-label"></label>
                <input asp-for="StateRegistration" class="form-control" />
                <span asp-validation-for="StateRegistration" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_free" /> @Html.DisplayNameFor(model => model.Is_free)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="">Selecione</option>
                    @foreach (var value in Enum.GetValues(typeof(Teste_Tecnico_SmartHint.Models.Customers.GenderEnum)))
                    {
                        <option value="@value">@value</option>
                    }
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control"/>
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_blocked" /> @Html.DisplayNameFor(model => model.Is_blocked)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
